body{
            margin: 10%;
            padding: 0%;
            font-family: 'Raleway', sans-serif;
            background-color: #0074D9;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40vh;
            color: white;
            text-align: center;
            display: block;
            
}

::placeholder{
    text-align: center;
    color: black;
}

.subscribe{
    text-align: center;
}

.email-subscribe{
    margin: 15%
}

.button{
    background-color: #4d84bb;
    width: 210px;
    height: 35px;
    border-radius: 22px;
    color:white
    outline: none;
     
}

.emailbox, .name, .surname{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 250px;
    padding: 10px;
    border: 1px solid #001f3f;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    text-transform:lowercase;
    transition: 0.5s;
    
    
}

.emailbox, .name, .surname input:valid, 
.emailbox, .name, .surname input:focus{
    transform: translateX(10px) translateY(-7px);
    color:#001f3f; 
    border-left: 1px solid #001f3f;
    border-right: 1px solid #001f3f;
}

.order-list{
    align-items: center;
}
